<launch>
  <arg name="nogz" default="false"/>
  <arg name="teleop" default="false"/>  

  <include file="$(find gazebo_ros)/launch/empty_world.launch" unless="$(arg nogz)"/>

  <node pkg="merlin_nav" type="path_store.py" name="path_store" />

  <include file="$(find merlin_gazebo)/launch/merlin_robot.launch">
    <arg name="robot_name" default="merlin"/>
  </include>
</launch>
